<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="remotableBundles" name="remotableBundles" schema="schema/remotableBundles.exsd"/>
 <extension
       point="org.mariella.oxygen.remoting.remotableBundles">
    <bundle
          bundleId="org.mariella.oxygen.remoting">
    </bundle>
 </extension>
</plugin>
