<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.mariella.sample.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.mariella.sample.app.Perspective"
            id="org.mariella.sample.app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.mariella.sample.app.person.PersonsView"
            id="org.mariella.sample.app.person.PersonsView"
            name="Persons">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mariella.sample.app.person.PersonEditor"
            icon="icons/alt_window_16.gif"
            id="org.mariella.sample.app.person.PersonEditor"
            matchingStrategy="org.mariella.sample.app.person.PersonEditorMatchingStrategy"
            name="Person">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.mariella.sample.app.person.PersonResourceElementFactory"
            id="org.mariella.sample.app.person.PersonResourceElementFactory">
      </factory>
   </extension>

</plugin>
